<!DOCTYPE html>
<html>
  
<head>
  <style>
    .center {
      text-align: center;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
  </style>
</head>

<body>
  <h1 class="center">LA BIBLIOTECA DI MARY </h1>
  <app-ricerca [archivio]="archivio"></app-ricerca>
<app-prestito [archivio]="archivio"></app-prestito>
<app-rimuovi [archivio]="archivio"></app-rimuovi>
<app-aggiungi [archivio]="archivio"></app-aggiungi>
 


 
</body>

</html>
