<!DOCTYPE html>
<html>

<head>
  <style>
    .center {
      text-align: center;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
  </style>
</head>

<body>
  <h1 class="center">BIBLIOTECA</h1>

  <table>
    <thead>
      <tr>
        <th class="center">Titolo</th>
        <th class="center">Autore</th>
        <th class="center">Codice</th>
        <th class="center">Prestito</th>
      </tr>
    </thead>
  </table>
</body>

</html>
