<p>Ricerca dall'archivio</p>
<form class="modulo-ricerca">
  <input
    id="trovaLibro"
    type="text"
    placeholder="ricerca libri..."
    required
    [(ngModel)]="ricerca"
    name="ricercaInput"
    (input)="ricercaLibro()"
  />
</form>

<div *ngIf="risultatiRicerca.length === 0 && ricerca !== ''">
  <p>Nessun libro trovato</p>
</div>

<div *ngIf="risultatiRicerca.length === 1">
  <div>
    <p>Titolo: {{ libroScelto.titolo }}</p>
    <p>Autore: {{ libroScelto.autore }}</p>
    <p>Codice: {{ libroScelto.codice }}</p>
  </div>


  <div *ngIf="libero">
    <div>
      <app-rimuovi
        [libro]="libroScelto"
        [archivio]="archivio"
        (changeArchivio)="ricercaLibro()"
      ></app-rimuovi>
      <app-preso-prestito
        [libro]="libroScelto"
        [archivio]="archivio"
        (getChangeStatus)="libero = $event"
      >
      </app-preso-prestito>
    </div>
  </div>
  <div *ngIf="!libero">
    <div>
      <app-restituisci
        [libro]="libroScelto"
        [archivio]="archivio"
        (getChangeStatus)="libero = $event"
      ></app-restituisci>
    </div>
  </div>
</div>

<div *ngIf="risultatiRicerca.length > 1">
  <p>Numero di corrispondenze: {{ risultatiRicerca.length }}</p>
</div>
