.modulo-ricerca {
  background-color: #f6f6f6;
  border: 0px solid #DDD;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  padding: 8px;
  width: 350px;
}

.modulo-ricerca #search {
  border: 1px solid #DDD;
  -webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
  -moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
  box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #999;
  float: left;
  font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
  box-sizing: border-box;
  height: 30px;
  padding: 9px;
  width: 490px;
}


.modulo-ricerca #submit {
  background-color: #00994D;
  border: 1px solid #008040;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #FFF;
  cursor: pointer;
  height: 30px;
  float: right;
  font: 15px Arial, Helvetica;
  padding: 0;
  text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
  width: 100px;
}

.modulo-ricerca #submit:hover,
.modulo-ricerca #submit:focus,
.modulo-ricerca #submit:active {
  background-color: #00B359;
}