<!-- Template del componente RicercaComponent -->
<form class="modulo-ricerca">
  <input id="trovaLibro" type="text" placeholder="Cerca per..." required [(ngModel)]="ricerca" name="ricercaInput" (input)="ricercaLibro()">
</form>

<div *ngIf="risultatiRicerca.length === 0 && ricerca !== ''">
  <p>Nessun libro trovato</p>
</div>

<div *ngIf="risultatiRicerca.length === 1">
  <div *ngFor="let libro of risultatiRicerca">
    <p>Titolo: {{ libro.titolo }}</p>
    <p>Autore: {{ libro.autore }}</p>
    <p>Codice: {{ libro.codice }}</p>
  </div> 

  <app-rimuovi [libro]="risultatiRicerca[0]"></app-rimuovi>
  <app-prestito [libroInPrestito]="risultatiRicerca[0]"></app-prestito>
</div>

<div *ngIf="risultatiRicerca.length > 1">
  <p>Numero di corrispondenze: {{ risultatiRicerca.length }}</p>
</div>
