<div *ngIf="libroInPrestito" class="prestito-container">

  <div *ngIf="personaInPrestito" class="persona-info">{{ personaInPrestito }}</div>

  <div *ngIf="libroTargetLibero" class="input-container">
    <input type="text" id="personaInPrestito" [(ngModel)]="personaInPrestito" />
    <button (click)="prendiInPrestito()">Prendi in prestito</button>
  </div>

  <div *ngIf="!libroTargetLibero" class="button-container">
    <button (click)="restituisciLibro()">Restituisci libro</button>
  </div>

  <p *ngIf="errore" class="error-message">{{ errore }}</p>
</div>
