.prestito-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* Altre proprietà di stile desiderate */
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem; /* Aggiungi margine inferiore per separare dalla sezione Restituisci libro */
}

.button-container {
  margin-top: 80rem; /* Aggiungi margine superiore per separare dalla sezione Prendi in prestito */
}

.error-message {
  color: red;
  margin-top: 1rem;
  /* Altre proprietà di stile desiderate */
}
