.prestito-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem; 
}

.button-container {
  margin-top: 80rem; 
}

.error-message {
  color: red;
  margin-top: 1rem;
}
