.centro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;
}

