<div *ngIf="!mostraAggiungi">
  <button (click)="bottoneAggiungi()"> + aggiungi nuovo libro</button>
</div>

<div *ngIf="mostraAggiungi">
  <p> Inserisci i dati per aggiungere un nuovo libro </p>
  <input id="titolo" [(ngModel)]="titolo" placeholder="inserisci titolo">
  <input id="autore" [(ngModel)]="autore" placeholder="inserisci autore">
  <input id="codice" [(ngModel)]="codice" placeholder="inserisci codice">
  <button (click)="aggiungiLibro()">Aggiungi</button>
  <p *ngIf="errore">{{ errore }}</p>
</div>
