<div>
  <span class="header">
    Titolo<br />
  <input type="text" id="titolo" placeholder="Inserisci il titolo del libro">
  </span>
  <span class="header">
    Autore <br />
  <input type="text" id="autore" placeholder="Inserisci il nome dell'autore">
</span>
<span class="header">
  Codice libro <br />
  <input type="text" id="codice" placeholder="Inserisci il codice del libro">
</span>
<span class="header">
  <br />
  <button type="button" (click)="aggiungiLibro()">Aggiungi</button>
</span>
</div>
