#titolo,
#autore,
#codice {
  display: block;
  width: 50%;
  align-items: center;
  margin-bottom: 0px;
  text-align: center;
  margin-top: 10px;
  margin-left: ;
}

#codice {
  margin-bottom: 0;
}

button {
  display: flex;
  margin: 10px auto;
}

p {
  margin-top: 10px;
  color: rgb(25, 0, 255);
  text-align: center;
}
