<div *ngIf="errore" class="errore-messaggio">{{ errore }}</div>
<div>
  <head>
    <style>
      .center {
        text-align: center;
      }
  
      table {
        width: 100%;
        border-collapse: collapse;
      }
  
      th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
      }
    </style>
  </head>
  <span class="header">
    Titolo<br />
  <input type="text" id="titolo" placeholder="Inserisci il titolo del libro">
  </span>
  <span class="header">
    Autore <br />
  <input type="text" id="autore" placeholder="Inserisci il nome dell'autore">
</span>
<span class="header">
  Codice libro <br />
  <input type="text" id="codice" placeholder="Inserisci il codice del libro">
</span>
<span class="header">
  <br />
  <button type="button" (click)="aggiungiLibro()">Aggiungi</button>

</span>

<table>
  <thead>
    <tr>
      <th class="center">Titolo</th>
      <th class="center">Autore</th>
      <th class="center">Codice</th>
      <th class="center">Prestito</th>
      <th class="center">Rimuovi</th>
      
    <tr *ngFor="let libro of lista">
      <td class="center">{{libro.titolo}}</td>
      <td class="center">{{libro.autore}}</td>
      <td class="center">{{libro.codice}}</td>
      <td class="center">{{libro.prestito}}</td>
      <td class="center">
      <app-rimuovi [libro] = "libro"/>

      </tr>
  </thead>
</table>
</div>
