.container {
  width: 80%; 
  margin: 0 auto; 
  padding: 20px;
  background: linear-gradient(545deg, #c4c4c4, #f2f2f2d5, #c4c4c4);
  border-radius: 40px;
  box-shadow: 10px 10px 10px rgba(12, 9, 9, 0.5); 
}

